{% extends 'base.html' %}
{% load static %}

{% block contenido %}

  <div class="gallery">
    <div class="img">
      <img src="{% static 'imagenes/pensador.jpg' %}">
      <div class="desc">
        <h3>El pensador</h3>
        <p>Representa a un hombre desnudo sentado en una roca, descansando su barbilla en una mano, inmerso en sus pensamientos. Bellamente fabricado en bronce fundido en frío, un proceso de mezcla de polvo de bronce con resina, le da un aspecto de metal sólido con un acabado de bronce lustroso.</p>
      </div>
    </div>
    <div class="img">
        <img src="{% static 'imagenes/arcangel.jpg' %}">
        <div class="desc">
          <h3>Archangel Michael</h3>
          <p>Arcángel de San Miguel de 11 pulgadas con escudo de batalla y espada, material de resina fundida en frío, acabado de bronce antiguo</p>
      </div>
    </div>
    <div class="img">
        <img src="{% static 'imagenes/zeus.jpg' %}">
        <div class="desc">
          <h3>Dios Zeus</h3>
          <p>Estatua del Dios Zeus de 8 pulgadas, resina fundida en frio, acabado en bronce antiguo</p>
      </div>
    </div>
    <div class="img">
        <img src="{% static 'imagenes/adan.jpg' %}">
        <div class="desc">
          <h3>"La creación de Adán" de Miguel Ángel</h3>
          <p>Esta es una famosa pintura mural que se encuentra en el techo de la Capilla Sixtina en Roma, Italia. Representa la creación del hombre por Dios.</p>
      </div>
    </div>
    <div class="img">
        <img src="{% static 'imagenes/reloj.jpg' %}">
        <div class="desc">
          <h3>"La persistencia de la memoria" de Salvador Dalí</h3>
          <p>Esta es una pintura surrealista que presenta relojes derretidos en un paisaje onírico. Se encuentra en el Museo de Arte Moderno de Nueva York.</p>
      </div>
    </div>
    <div class="img">
        <img src="{% static 'imagenes/venus.jpg' %}">
        <div class="desc">
          <h3>"La Venus de Milo" de Alexandros de Antioquía</h3>
          <p>Esta es una famosa escultura griega que representa la diosa Venus, la diosa del amor y la belleza. Es una de las obras maestras del arte antiguo y se encuentra en el Louvre en París, Francia.</p>
      </div>
    </div>
    <div class="img">
        <img src="{% static 'imagenes/guernica.jpg' %}">
        <div class="desc">
          <h3>"Guernica" de Pablo Picasso</h3>
          <p>Esta pintura, creada por el artista español Pablo Picasso en 1937, es una de las obras más importantes del movimiento del arte moderno. La pintura es un retrato angustioso y expresivo del bombardeo de la ciudad española de Guernica durante la Guerra Civil española.</p>
      </div>
    </div>
    <div class="img">
        <img src="{% static 'imagenes/beso.jpg' %}">
        <div class="desc">
          <h3>"El beso" de Gustav Klimt</h3>
          <p>Es una pintura al óleo que muestra a una pareja abrazada en un apasionado beso, con un estilo art nouveau y detalles dorados que la hacen muy llamativa. Fue creada en 1907-1908 y se encuentra en el Museo Belvedere en Viena, Austria.</p>
      </div>
    </div>
  </div>
  


  {% endblock %}


