{% extends 'base.html' %}
{% load static %}

{% block contenido %}


  <div class="container-parrafos2">
    <div class="container">
      <hr>
      <h1>Mision <hr></h1>
      <p>En Grupo Cero, nuestra misión es promover el desarrollo artístico y cultural de nuestros miembros, ofreciendo un espacio de trabajo cooperativo donde se fomente la creatividad y la innovación. A través de nuestras obras de arte, buscamos transmitir emociones y sentimientos, inspirando a nuestro público a explorar su propio potencial creativo. <hr></p>
    
      <h1>Vision <hr></h1>
      <p>Nosotros en Grupo Cero, queremos ser reconocidos como una organización líder en el campo de las artes plásticas, ofreciendo obras de alta calidad que despierten la admiración y el interés del público en general. Nos esforzamos por mantenernos a la vanguardia de las últimas tendencias en el arte, al mismo tiempo que conservamos nuestro estilo único y original. Nos visualizamos como una cooperativa en constante crecimiento y expansión, que se adapta a los cambios tecnológicos y sociales para seguir siendo relevantes en el futuro. <hr></p>
    
      <h1>Objetivos adicionales <hr></h1>
      <p>
        Proporcionar un espacio de trabajo adecuado para nuestros miembros, donde puedan desarrollar su talento y habilidades. <br>
        Promover el trabajo en equipo y la colaboración entre nuestros miembros para crear obras de arte innovadoras y de alta calidad. <br>
        Ofrecer una sala de exhibición y un sitio web donde nuestros miembros puedan mostrar y vender sus obras de arte a un público más amplio. <br>
        Proporcionar servicios personalizados y de alta calidad a nuestros clientes, incluyendo la realización de trabajos especiales y la venta de obras de arte originales. <br>
        Mantener una buena reputación en el mercado artístico a través de la calidad de nuestras obras y la satisfacción del cliente. <br>
        Adaptarse a las nuevas tecnologías y a los cambios en el mercado para seguir siendo competitivos y relevantes. <hr></p>

      <h1>Información adicional <hr></h1>
      <p>Nuestros miembros son artistas plásticos que se dedican a diferentes expresiones artísticas, como la pintura, la escultura, la orfebrería y el tejido. <br>
        Contamos con un taller y una sala de exhibición para nuestros miembros, así como un café que sirve como lugar de reunión y atención al cliente. <br>
        Buscamos expandir nuestra presencia en el mercado a través de la creación de una página web y, eventualmente, una tienda en línea. <br>
        Nos esforzamos por ser accesibles y amigables para los clientes que no están familiarizados con las nuevas tecnologías, ofreciendo una interfaz fácil de usar y un servicio de atención al cliente personalizado. <hr></p>

    </div>
  </div>


  {% endblock %}
